@import url('../node_modules/semantic-ui-css/semantic.min.css');

.ui.container {
  padding-top: 2em;
  padding-bottom: 8em;
}

.ui.header {
  margin-top: .5em;
}

.ui.icon.buttons .button {
  background: transparent;
  padding: 0 .25em;
}

.ui.icon.buttons .button i.icon {
  font-size: .8em;
}
