<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app/repos.js"></script>
  <title>Github Explorer</title>
</head>
<body>

  <div ng-app="githubExplorer" class="ui container">
    <div class="ui two column centered grid">
      <div class="column center aligned">

        <div ng-controller="ReposCtrl" ng-init="getRepos()" class="ui basic segment">
          <div class="ui icon input">
            <input class="prompt" type="text" ng-model="username" ng-change="update()" ng-model-options="{ debounce: 750 }">
            <i class="search icon"></i>
          </div>
          <div class="ui hidden divider"></div>
          <repo-list>
            <repo-item ng-repeat="repo in repos | orderBy:'-created_at'"></repo-item>
          </repo-list>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
