<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app/repos.js"></script>
  <title>Github Explorer</title>
</head>
<body>

  <div ng-app="githubExplorer" class="ui container">
    <div class="ui two column centered stackable grid" ng-controller="ReposCtrl" ng-init="getRepos()">

      <div class="row">
        <div class="five wide column">
          <div class="ui basic center aligned segment">
            <i class="huge github icon"></i>
            <h3 class="ui header">
              Github Explorer
              <div class="sub header">Enter a Username</div>
            </h3>
            <div class="ui icon input">
              <input class="prompt" type="text" ng-model="username" ng-change="getRepos()" ng-model-options="{ debounce: 750 }">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="fifteen wide tablet ten wide computer column">

            <repo-list>
              <table class="ui single line table">
                <thead>
                  <tr>
                    <th class="seven wide tablet eight wide computer">
                      Repo Name
                      <div class="ui icon buttons">
                        <button class="ui mini button" ng-click="sortBy('name')">
                          <i ng-show="propertyName !== 'name'" class="sort disabled icon"></i>
                          <i ng-show="reverse === true && propertyName === 'name'" class="arrow up icon"></i>
                          <i ng-show="reverse === false && propertyName === 'name'" class="arrow down icon"></i>
                        </button>
                      </div>
                    </th>
                    <th class="three wide tablet four wide computer">
                      Updated
                      <div class="ui icon buttons">
                        <button class="ui mini button" ng-click="sortBy('updated_at')">
                          <i ng-show="propertyName !== 'updated_at'" class="sort disabled icon"></i>
                          <i ng-show="reverse === true && propertyName === 'updated_at'" class="arrow up icon"></i>
                          <i ng-show="reverse === false && propertyName === 'updated_at'" class="arrow down icon"></i>
                        </button>
                      </div>
                    </th>
                    <th class="three wide tablet two wide computer">
                      Forks
                      <div class="ui icon buttons">
                        <button class="ui mini button" ng-click="sortBy('forks')">
                          <i ng-show="propertyName !== 'forks'" class="sort disabled icon"></i>
                          <i ng-show="reverse === true && propertyName === 'forks'" class="arrow up icon"></i>
                          <i ng-show="reverse === false && propertyName === 'forks'" class="arrow down icon"></i>
                        </button>
                      </div>
                    </th>
                    <th class="three wide tablet two wide computer">
                      Stars
                      <div class="ui icon buttons">
                        <button class="ui mini button" ng-click="sortBy('stargazers_count')">
                          <i ng-show="propertyName !== 'stargazers_count'" class="sort disabled icon"></i>
                          <i ng-show="reverse === true && propertyName === 'stargazers_count'" class="arrow up icon"></i>
                          <i ng-show="reverse === false && propertyName === 'stargazers_count'" class="arrow down icon"></i>
                        </button>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="item" ng-repeat="repo in repos | orderBy:propertyName:reverse">
                    <td><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></td>
                    <td>{{repo.updated_at | date:"MMM d, yyyy"}}</td>
                    <td><i class="fork icon"></i>{{repo.forks}}</td>
                    <td><i class="small star icon"></i>{{repo.stargazers_count}}</td>
                  </tr>
                </tbody>
              </table>
            </repo-list>

        </div>
      </div>

    </div>
  </div>

</body>
</html>
